# Barebone
save-exact=true
sign-git-tag=false
strict-ssl=false
engine-strict=true
git-tag-version=true
tag-version-prefix="v"

# Security
min-release-age=7 # days
ignore-scripts=true # no npm run-scripts executed during installation
allow-git=none # prevents any git dependencies from being fetched and installed